h2{
	width: 223px;
	height: 58px;
	color: #30CBC2;
	font-family: Inter;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: inline-block;

}

.gg{
	color: #4E6FAE;
	font-family: FiraGO;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: inline-block;
	margin-right: 50px;
}

h3{
	color: #84FF81;
	width: 31px;
	height: 34px;
	background: #5012D5;
	padding: 10
	px;
}

.rr{
	width: 70px;
	height: 34px;
	color: #8D81FF;
	font-family: FiraGO;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

}

.ff{
	width: 578px;
	height: 34px;
	color: #4E6FAE;
	font-family: FiraGO;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.ll{
	color: #4E6FAE;
	width: 778px;
	height: 281px;
	font-family: FiraGO;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: inline-block;
	Vertical-align : top

}
.pp{

	display: inline-block;
}

.li{
	color: #4E6FAE;
	width: 778px;
	height: 281px;
	font-family: FiraGO;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	Vertical-align : top
}

.ttt{
	width: 2px;
	height: 48px;
	background: #5012D5;
	display: inline-block;
	margin: 0px 20px 0px 20px;

}
.yy{
	width: 50px;
	height: 50px;
	display: inline-block;
	
}
.yi{
	width: 71px;
	height: 49px;
	display: inline-block;
	
}

h1{
	color: #4E6FAE;
	font-family: Helvetica Neue;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	width: 474px;
	height: 34px;
}

.tgt{
	color: #4E6FAE;
	font-family: FiraGO;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	width: 150px;
	height: 34px;
	display: inline-block;
}

.tgy{
	color: #4E6FAE;
	font-family: FiraGO;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 484px;
	height: 34px;
	display: inline-block;
}
.tgr{
	width: 2px;
	height: 24px;
	background: #5012D5;
	display: inline-block;
	margin-right: 10px;
}

.ppp{
	color: #3F4145;
	font-family: Helvetica Neue LT GEO;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 307px;
}
.ww{
	width: 77px;
	height: 77px;
	display: inline-block;
}
.qqq{
	color: #7E8898;
	font-family: Helvetica Neue LT GEO;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 335px;
	height: 95px;
	display: inline-block;

}
.dd{
	width: 500px;
	height: 192px;
	background: #E7E7E7;
	display: inline-block;

}
.aq{
	width: 1052px;
	height: 462px;


}
.tyt{
	
}

.aa{
	color: #3F4145;
	font-family: Helvetica Neue LT GEO;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 307px;

}
.as{
	width: 89px;
	height: 89px;
	display: inline-block;

}
.ad{
	color: #7E8898;
	font-family: Helvetica Neue LT GEO;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 335px;
	height: 95px;
	display: inline-block;
}
.cdd{
	width: 500px;
	height: 192px;
	background: #E7E7E7;
	display: inline-block;


}
.ssq{
	display: inline-block;
	margin: 0px 0px 50px 0px;
}
.ko{
	margin-right: 100px;
	display: inline-block;
}
.nd{
	width: 474px;
	height: 34px;
	color: #4E6FAE;
	font-family: Helvetica Neue;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

}
.eee{
	width: 944px;
	height: 549px;
	display: inline-block;
}
.rtr{
	width: 1660px;
	height: 735px;
	background: #E7E7E7;
	display: inline-block;
}
.kp{
	margin-right: 100px;
	display: inline-block;
}

.kl{
	margin-right: 100px;
	display: inline-block;
}